.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 800px;
  padding: 20px;
  border-radius: 10px;
  background: skyblue;
  display: none;

  &__title {
    text-align: center;
    font-size: 50px;
    padding: 20px 0px;
    color: white;
  }
}
form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

input {
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  color: skyblue;
}

.form__btns {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
}

.form__btn {
  background-color: blue;
  padding: 10px 30px;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.4s;
}

.form__btn:hover {
  background-color: white;
  color: blue;
}
